$colors: (
  "text-primary": #000046,
  "text-secondary": #ffffff,
  "text-accent": #2a172d,
  "text-accent-secondary": #5b5b5b,
  "hover-color": #851fff,
  "bg-primary": #fff,
  "bg-secondary": #f0f1f3,
  "decoration": #8626fe,
  "accent": #fc842d,
  "border-color": #e0e0e0,
  "bg-user-menu": #eff1f3,
);

$font-primary: "Monserat";

$mobile: 335px;
$desktop: 1240px;
