@import "../../../shared/styles/common.scss";
.chosen {
  padding-top: 9px;
  padding-bottom: 38px;
}
.heading {
  position: relative;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: getColor("text-accent");
  margin-bottom: 30px;

  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    top: -44%;
    width: 170px;
    height: 1px;
    background-color: getColor("text-accent");
  }
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: -30.3px;
  margin-top: -30.3px;
  padding: 0px;
}
.item {
  margin-left: 30.3px;
  margin-top: 30.3px;
  flex-basis: calc((100% - 122px) / 4);
}
.img {
  width: 60.5px;
  height: 37px;
}
